img {
  margin: 0 auto ;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}


.card {
  width: 360px;
  height: auto;
  border: 3px solid rgb(220, 220, 220);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 150px auto ;
  padding: 20px;
}